@import 'bootstrap';
@import 'font-awesome';


$navbar-height: 50px;
$sidebar-width: 350px;
$breakpoint: 850px;
$yellow-intertug: #ffca08;
$blue-intertug: #181E86;

body{
	font-size: 16px;
}

.navbar{
	background-color: $yellow-intertug;
}

	.navbar-brand{
		padding: 0;
	}

	.navbar-logo{
		height: $navbar-height;
	}

.sidebar{
	background-color: $yellow-intertug;
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 0px;
	height: -webkit-calc(100% - #{$navbar-height});
	height: -moz-calc(100% - #{$navbar-height});
	height: calc(100% - #{$navbar-height});
	width: $sidebar-width;
	overflow: auto;

	@media all and (max-width: $breakpoint){
		content: "";
		visibility: hidden;
	}
}

	.sidebar__card{
		padding: 5px;
	}

	.sidebar__card__title{
		font-size: 2.5rem;
		font-weight: bold;
		color: $blue-intertug;
	}

	.sidebar__card__subtitle{
		font-weight: bold;
		color: #222788;
	}

	.sidebar__card__description{
		font-size: 1.5rem;
		text-align: justify;
	}

	.sidebar__card__image{
		width: 100%;
	}

	.sidebar__infotip{
		margin: 5px;
	}

.main{
	position: fixed;
	left: $sidebar-width;
	top: 50px;
	bottom: 0px;
	width: -webkit-calc(100% - #{$sidebar-width});
	width: -moz-calc(100% - #{$sidebar-width});
	width: calc(100% - #{$sidebar-width});
	height: -webkit-calc(100% - #{$navbar-height});
	height: -moz-calc(100% - #{$navbar-height});
	height: calc(100% - #{$navbar-height});
	overflow: auto;
	
	@media all and (max-width: $breakpoint){
		left:0px;
		width: 100%;
	}
}

	.main__map{
		height: 100%;
	}

.sidebar-right{
	position: fixed;
	top: $navbar-height+20px;
	right: 0px;
	height: 35px;
	min-width: 30px;
	width: auto;
	background-color: $yellow-intertug;
	border-radius: 10px 0 0 10px;
	z-index: 1;
}

	#sidebar-collapsible{
		display:none;
	}

	.labels-title{
		//background-color: inherit;
		border-radius: inherit;
		padding: 0;
		position: fixed;
		display: inline-block;
		font-weight: normal;
		//margin: 0 0 5px 2px;

	}

	.labels-title::before{
		font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    font-size: 2.5rem;
		content: "\f137";
		color: $blue-intertug;
	}
	
	#sidebar-collapsible:checked ~ .labels-title::before{
		content:  "\f138";
		position: relative;
		right: 25px;
		padding-right: 5px;
		border-radius: 10px 0 0 10px;
		background-color: white;
	}

	#sidebar-collapsible:checked .sidebar-right__labels__entities{
		max-height: 250px;
	}

	#sidebar-collapsible:checked ~ .sidebar-right__labels{
		background-color: $yellow-intertug;
		border-radius: 10px 0 0 10px;
		width: 200px;
		height: auto;
		max-height: 250px;
		z-index: 2;
		.sidebar-right__labels__entities{
			//margin: 0 5px 0 5px;
			//padding-top: 40px;
			display:block;
		}
	}

	.sidebar-right__labels__entities{
		display:none;
	}

	.list-group-item-heading{
		font-size: 1.5rem;
	}

	.list-group-item-text{
		font-size: 1.2rem;
	}

/* Common CSS */


p[data-color=green]{
	color: green;
}

p[data-color=red]{
	color: red;
}