@import 'base';

.sidebar__form{
	margin: 5px;
	text-align: center;
}

	.form__group{
		margin-top: 5px;
		width: 100%;
	}

	.form__label{
		width: 30%;
		font-size: 0.9rem;

	}

	.form__input{
		display:inline;
		margin: 0;
		width: 65%;
		margin-top: 5px;
		font-size: 1rem;
	}

	.form__rmselect{
		width: 100%;
	}
	
	.form__submit{
		margin-top: 5px;
		font-size: 1rem;
	}

.main{
	
}
	.main__tabpanel{
		height: 90%;
	}
	
	.main__tabpanel__content{
		height: 100%;
	}

	.tabpanel__content_pane{
		height: 100%;
	}
