@import 'base';

$tabpanel-height: 44px;

.sidebar__form{
	margin: 5px;
	text-align: center;
}

	.form__group{
		margin-top: 5px;
		width: 100%;
	}

	.form__label{
		width: 30%;
		font-size: 1.5rem;

	}

	.form__input{
		display:inline;
		margin: 0;
		width: 65%;
		margin-top: 5px;
		font-size: 1.5rem;
	}

	.form__rmselect{
		width: 100%;
	}
	
	.form__submit{
		margin-top: 5px;
		font-size: 1.5rem;
	}

.main{
	height: calc(100% - #{$navbar-height});
}
	.main__tabpanel{
		height: 100%;
	}

	.main__tabpanel__list{
		height: $tabpanel-height;
	}
	
	.main__tabpanel__content{
		height: calc(100% - #{$tabpanel-height});
	}

	.content__pane__chart{
		height: 100%;
	}

	.content__pane__export{
		margin: 10px;
	}

	.content__pane__table-container{
		margin: 0px;
		font-size: 1.5rem;
	}



