@import 'base';

$sidebar-right-width: 20px;

.sidebar__card__description{
	text-align: center;
}

	.last-report{
		text-align: center;
	}

		.last-report--red{
			color: red;
		}

		.last-report--green{
			color: green;
		}

.sidebar__rmpanel{
	margin: 10px 5px 5px 5px;
}

	.rmpanel__opstate{
		text-align: center;
		font-weight: bolder;
		font-size: 2rem;
	}

	.rmpanel__date{
		text-align: center;
		font-weight: bold;
	}

	.rmpanel__table{
		background-color: #D8D8D8 ;
		width: 100%;
	}
	

.main__map{
	height: 100%;
}

.dates{
	background-color: $yellow-intertug;
	position: fixed;
	top: $navbar-height;
	left: 40%;
	width: 40%;
	text-align: center;
	border-radius: 0 0 10px 10px;
	@media screen and (max-width: 650px){
		content: '^';
	}
}

	.dates__container{
		margin: 5px 0 5px 0;
	}

.sidebar-right{
	position: fixed;
	top: $navbar-height+20px;
	right: 0px;
	height: 32px;
	min-width: 30px;
	background-color: $yellow-intertug;
	border-radius: 10px 0 0 10px;
	z-index: 1;
}

	#sidebar-collapsible{
		display:none;
		width: 100%;
	}

	.labels-title{
		background-color: inherit;
		border-radius: inherit;
		padding: 0;
		position: fixed;
		display: inline-block;
		font-size: 0rem;
		font-weight: normal;
		width: 100%;
		margin: 0 0 5px 2px;
	}

	.labels-title::before{
		font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    font-size: 2.5rem;
		content: "\f137";
	}
	
	#sidebar-collapsible:checked ~ .labels-title::before{
		content:  "\f138";
	}

	#sidebar-collapsible:checked ~ .sibdebar-right__labels{
		background-color: $yellow-intertug;
		border-radius: 10px 0 0 10px;
		width: 200px;
		height: 300px;
		z-index: 2;
	}

