@import 'base';

$sidebar-right-width: 20px;

.sidebar__card__description{
	text-align: center;
}

	.last-report{
		text-align: center;
	}

		.last-report--red{
			color: red;
		}

		.last-report--green{
			color: green;
		}

.alerts__panel{
	margin: 10px 5px 5px 5px;
	height: 34*2px;
	overflow: auto;

}

	.alerts__table{
		font-size: 1.2rem;
	}

.sidebar__rmpanel{
	margin: 10px 5px 5px 5px;
}
	.rmpanel__title{
		text-align: center;
		font-size: 2.1rem;
	}

	.rmpanel__opstate{
		text-align: center;
		font-weight: bolder;
		font-size: 2rem;
	}

	.rmpanel__date{
		text-align: center;
		font-weight: bold;
	}

	.rmpanel__table{
		background-color: #D8D8D8 ;
		width: 100%;
	}

.dates{
	background-color: $yellow-intertug;
	position: fixed;
	top: $navbar-height;
	left: 40%;
	width: 40%;
	text-align: center;
	border-radius: 0 0 10px 10px;
	@media screen and (max-width: 650px){
		width: 20px;
	}
}

	.dates__container{
		margin: 5px 0 5px 0;
		@media screen and (max-width: 650px){
			display: none;
		}
	}

.sidebar-right__labels__entities{
	width: 200px;
	//margin: 30px 0 0 5px;

}

	.circle::before{
		content: '';
		border-radius: 50%;
		display: inline-block;
		width: 10px;
		height: 10px;
	}

	.circle--purple::before{
		background-color: purple;
	}

	.circle--red::before{
		background-color: red;
	}

