<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
        <title>Tracking Intertug</title>
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/handlebars.js"></script>
    </head>
    <body id="body" onload="initAlerts()">
        <div id="container"  class="col-xs-12 col-sm-2">
            <div id="sidebar" data-spy="affix" class="col-xs-2 col-sm-2 hidden-xs affix">
                <h1><img alt="intertug" title="intertug" id="logointertug" src="../imgs/logointertug.jpg"></h1>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ><a href="inicio.html"><span class="glyphicon glyphicon-tag"></span> Flotas</a>
                    </li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Colombia</a></li>
                    <li role="presentation"><a href="ccom.html"><span class="glyphicon glyphicon-tag"></span> Flota Perú</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Mexico</a></li>
                    <li role="presentation"><a href="alerts.html" class="active"><span class="glyphicon glyphicon-tag"></span>Alertas</a></li>
                </ul>
            </div>
            <div id="sidebarmini" class="visible-xs-inline-block col-xs-12"><!-- Logo + Menu Responsive para pantallas menores a 768px -->
                <h1 id="titulosidebarmini"><img alt="intertug" title="intertug" id="logointertug2" src="../imgs/logointertug.jpg"></h1>
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="inicio.html"><span class="glyphicon glyphicon-tag"></span> Flotas</a>
                    </li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Colombia</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Perú</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Mexico</a></li>
                    <li role="presentation"><a href="alerts.html" class="active"><span class="glyphicon glyphicon-tag"></span>Alertas</a></li>
                </ul>
            </div>
        </div>
        <div id="container-map" class="col-xs-12 col-sm-10 col-sm-offset-2">
            <div id="map-container" class="col-xs-12 col-sm-12">
                <script id="vessels-info" type="text/x-handlebars-template">
                    {{#vessel}}
                    {{ChangeBool}}
                    {{#ShowDivRow}}
                    <div class="row vessels-rows">
                    {{/ShowDivRow}}
                    <div id="content-vessels" class="col-xs-12 col-sm-6">
                    <div class="page-header">
                    <h2 id="shipnametitle">{{vesselname}}</h2>
                    </div>
                    <div class="row">
                    <div class="col-sm-12">
                    <div class="list-group">
                    <a class="list-group-item">
                    <b>ID</b>: {{id}} 
                    </a>
                    <a class="list-group-item ">
                    <b>Posición GPS</b>: ({{lat}} , {{long}})
                    </a>
                    <a class="list-group-item {{isOutdatedDate gpsdate}}" >
                    <b>Fecha GPS</b>: {{gpsdate}} 
                    </a>
                    <a class="list-group-item {{isOverSpeedTop speed}}">
                    <b>Velocidad</b>: {{speed}}
                    </a>
                    {{#if rpm}}
                    <a class="list-group-item ">
                    <b>RPM</b>: {{rpm}}
                    </a>
                    <a class="list-group-item {{isOutdatedDate rpmdate}}" class="{{alerta}}">
                    <b>Fecha RPM</b>: {{rpmdate}}
                    </a>
                    {{/if}}
                    </div>
                    </div>
                    </div>
                    </div>
                    {{ChangeBool}}
                    {{#ShowDivRow}}
                    </div>
                    {{/ShowDivRow}}
                    {{ChangeBool}}
                    {{/vessel}}
                </script>
            </div>
        </div>
        <!--	JavaScripts	-->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/shared/GetVesselsRequest.js"></script>
        <script src="../js/AlertsController/AlertsController.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>