<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
        <title>Tracking Intertug</title>
        <link rel="shortcut icon" href="../favicon.ico" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/handlebars.js"></script>
    </head>
    <body id="body" onload="initialize()">
        <div id="container"  class="col-xs-12 col-sm-2">
            <div id="sidebar" data-spy="affix" class="col-xs-2 col-sm-2 hidden-xs affix">
                <h1><img alt="intertug" title="intertug" id="logointertug" src="../imgs/logointertug.jpg"></h1>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ><a href="inicio.html"><span class="glyphicon glyphicon-tag"></span> Flotas</a>
                    </li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Colombia</a></li>
                    <li role="presentation"><a href="ccom.html"><span class="glyphicon glyphicon-tag"></span> Flota Perú</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Mexico</a></li>
                    <li role="presentation"><a href="alerts.html" class="active"><span class="glyphicon glyphicon-tag"></span>Alertas</a></li>
                </ul>
            </div>
            <div id="sidebarmini" class="visible-xs-inline-block col-xs-12"><!-- Logo + Menu Responsive para pantallas menores a 768px -->
                <h1 id="titulosidebarmini"><img alt="intertug" title="intertug" id="logointertug2" src="../imgs/logointertug.jpg"></h1>
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="inicio.html"><span class="glyphicon glyphicon-tag"></span> Flotas</a>
                    </li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Colombia</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Perú</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Mexico</a></li>
                    <li role="presentation"><a href="alerts.html" class="active"><span class="glyphicon glyphicon-tag"></span>Alertas</a></li>
                </ul>
            </div>
        </div>
        <div id="container-map" class="col-xs-12 col-sm-10 col-sm-offset-2">
            <div id="map-container" class="col-xs-12 col-sm-12">
                <script id="vessels-info" type="text/x-handlebars-template">
                {{#vessel}}
                {{ChangeBool}}
                {{#ShowDivRow}}
                <div class="row vessels-rows">
                {{/ShowDivRow}}
                    <div id="content-vessels" class="col-xs-12 col-sm-6">
                        <div class="page-header">
                            <h2 id="shipnametitle">{{vesselname}} <small>ID: {{id}}</small></h2>
                        </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>Variable</th>
                                    <th>Valor</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Posicion</td>
                                    <td>({{roundNumber lat}},{{roundNumber long}})</td>
                                    <td class="{{isOutdatedDate gpsdate}}">{{gpsdate}}</td>
                                </tr>
                                <tr">
                                    <td>Velocidad</td>
                                    <td class="{{isOverSpeedTop 200}}">{{speed}}</td>
                                    <td class="{{isOutdatedDate gpsdate}}">{{gpsdate}}</td>
                                </tr>
                                {{#if rpm}}
                                <tr>
                                    <td>RPM</td>
                                    <td>{{rpm}}</td>
                                    <td class="{{isOutdatedDate rpmdate}}">{{rpmdate}}</td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                    </div>
                    {{ChangeBool}}
                {{#ShowDivRow}}
                </div>
                {{/ShowDivRow}}
                {{ChangeBool}}
                {{/vessel}}
                </script>
            </div>
        </div>
        <!--	JavaScripts	-->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/shared/GetVesselsPosition.js"></script>
        <script src="../js/alertscontroller/alertscontroller.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>