<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
        <title>Intertug Tracking</title>
        <link rel="shortcut icon" href="../favicon.ico" />
        <link rel="stylesheet" href="../css/ccom.css">
         <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEuaoh_rW9edjj3Ona1XpY2yOk090mJ5o&sensor=true">
        </script>
</head>
<body>
<!-- Navbar -->
<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                <span class="sr-only">Toogle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="master-navbar-brand" class="navbar-brand" href="inicio.html">
                <img id="navbar-logo" class="navbar-logo" alt="Intertug" src="../imgs/logoblanco.jpg">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar__collapsible" id="navbar-menu">
            <ul id="navbar__left" class="nav navbar-nav navbar__left">
                    <script id="navbar-menu-left" type="text/x-handlebars-template">
                        {{#linksmenu}}
                        {{#if links}}
                        <li class="dropdown navbar__left__dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{label}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                        {{#links}}
                        <li role="presentation"><a href="{{value}}">{{label}}</a></li>
                        {{/links}}
                        </ul>
                        </li>
                        {{/if}}
                        {{#unless links}}
                        <li role="presentation"><a href="alerts.html">Alertas</a></li>
                        {{/unless}}
                        {{/linksmenu}}
                    </script>
                </li>
                <li role="presentation" class="navbar__left__li"><a href="alerts.html">Alertas</a></li>
            </ul>
            <ul id="navbar__right" class="nav navbar-nav navbar-right navbar__right">
                <script id="navbar-menu-right" type="text/x-handlebars-template">
                        {{#linksmenu}}
                        {{#if links}}
                        <li class="dropdown navbar__right__dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{label}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                        {{#links}}
                        <li role="presentation"><a href="{{value}}">{{label}}</a></li>
                        {{/links}}
                        </ul>
                        </li>
                        {{/if}}
                        {{#unless links}}
                        <li role="presentation"><a href="alerts.html">Alertas</a></li>
                        {{/unless}}
                        {{/linksmenu}}
                    </script>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- Fin Navbar -->
<section class="sidebar">
	<header id="fleet-html" class="sidebar__card">
        <script id="fleet-info" type="text/x-handlebars-template">
            {{#ccomInfo}}
            <h3 class="sidebar__card__title">{{ ccomName }} <small class="sidebar__card__subtitle"> ID: {{ccomID}} </small></h3>
            <p class="sidebar__card__description">{{ccomDescription }}</p>
            {{/ccomInfo}}
        </script>
    </header>
    <div class="alert alert-info alert-dismissable sidebar__infotip" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div id="infotip-html">
            <script id="infotip" type="text/x-handlebars-template">    
                {{#infotip}}
                <strong> {{label}}</strong> {{value}}
                {{/infotip}}
            </script>
        </div>
    </div>
    <div class="dropdown sidebar__dropdown">
        <button class="btn btn-default btn-lg btn-block dropdown-toggle" type="button" id="dropdownRms" data-toggle="dropdown" aria-expanded="true">
            Remolcadores
            <span class="caret"></span>
        </button>
        <ul id="rm-list" class="dropdown-menu dropdown-menu-right scrollable-menu sidebar__dropdown__list" role="menu" aria-labelledby="dropdownRms">
            <li role="presentation">
                <a role="menuitem" tabindex="-1">Cargando remolcadores</a>
            </li>
            <script id="rms-dropdown-li" type="text/x-handlebars-template">
                {{#vessel}}
                <li id="{{id}}" role="presentation">
                <a role="menuitem" tabindex="-1" href="#">{{vesselName}}</a>
                </li>
                {{/vessel}}
            </script>
        </ul>
    </div>
    <div id="rmpanel" class="sidebar__rmpanel">
        <script id="vessel-info" type="text/x-handlebars-template">
            {{#vesselData}}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a href="#" onclick="controller.requestVesselInfo({{id}});" style="color:white;" class="pull-right">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        <span class="sr-only">Refresh</span>
                    </a>
                    <h3 class="panel-title">{{vesselName}} <small style="color:white">Callsign: 251DSC2</small></h3>
                </div>
                <div class="panel-body">
                    <!-- Table with vessel info -->
                    <div class="table-responsive">
                        <table class="table table-striped rmpanel__table">
                            <tbody>
                                <tr>
                                    <td>{{speed.label}}</td>
                                    <td>{{speed.value}}</td>
                                    <td>{{gpsdate.value}}</td>
                                </tr>
                                {{#if rpm}}
                                <tr>
                                    <td>RPM</td>
                                    <td>{{rpm}}</td>
                                    <td>{{rpmdate}}</td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer rmpanel__footer">
                    <div class="btn-group-sm" role="group" aria-label="...">
                        <a href="vessel.html" type="button" class="btn btn-primary">Recorrido</a>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Reportes
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="reports.html">Consumo Combustible</a></li>
                                <li><a href="#">Distancias recorridas</a></li>
                            </ul>
                        </div>
                        <a href="alerts.html" type="button" class="btn btn-primary">Control</a>
                    </div>
                </div>
            </div>
        {{/vesselData}}
        </script>
    </div>
</section>
<section class="main">
	<div id="map-canvas" class="main__map">
		
	</div>
</section>
<section class="sidebar-right">
    <input type="checkbox" id="sidebar-collapsible"/><label for="sidebar-collapsible" class="labels-title"></label>
    <div class="sidebar-right__labels">
        <div id="region-html" class="sidebar-right__labels__entities">
            <script id="region-data" type="text/x-handlebars-template">
            <div class="list-group">
              {{#entities}}
              <a class="list-group-item">
                <h4 class="list-group-item-heading">{{entity.value}}</h4>
                <p class="list-group-item-text">{{tel.value}}</p>
              </a>
              {{/entities}} 
            </div>     
            </script>
        </div>
    </div>
</section>
<script src="../public/js/ccomcontroller.js"></script>
</body>
</html>