<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
        <title>Tracking Intertug</title>
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/chartscontroller/chartscontroller.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1.0", {packages: ["corechart"]});
            google.setOnLoadCallback(initCharts);
        </script>

    </head>
    <body id="body" onload="initCharts()">
        <div id="container" data-spy="affix" class="col-sm-2 affix">
            <div id="sidebar" class="col-xs-2 col-sm-2 hidden-xs">
                <h1><img alt="intertug" title="intertug" id="logointertug" src="../imgs/logointertug.jpg"></h1>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ><a href="inicio.html"><span class="glyphicon glyphicon-tag"></span> Flotas</a>
                    </li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Colombia</a></li>
                    <li role="presentation"><a href="ccom.html"><span class="glyphicon glyphicon-tag"></span> Flota Perú</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Mexico</a></li>
                    <li role="presentation"><a href="alerts.html" class="active"><span class="glyphicon glyphicon-tag"></span>Alertas</a></li>
                </ul>
            </div>
            <div id="sidebarmini" class="visible-xs-inline-block col-xs-12"><!-- Logo + Menu Responsive para pantallas menores a 768px -->
                <h1 id="titulosidebarmini"><img alt="intertug" title="intertug" id="logointertug2" src="../imgs/logointertug.jpg"></h1>
                <ul class="nav nav-tabs">
                    <li role="presentation" ><a href="inicio.html"><span class="glyphicon glyphicon-tag"></span> Flotas</a>
                    </li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Colombia</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Perú</a></li>
                    <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Mexico</a></li>
                    <li role="presentation"><a href="alerts.html" class="active"><span class="glyphicon glyphicon-tag"></span>Alertas</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div id="container-map" class="col-sm-10 col-sm-offset-2">
            <div id="map-container" class="col-xs-12 col-sm-10">
                <div id="chart_div"></div>
            </div>
        </div>
        <!--	JavaScripts     -->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/shared/getvesselsposition.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>