<div id="container" class="container-fluid">
    <div id="rowmap" class="row">
        <div id="sidebar" class="col-xs-2 col-sm-2 hidden-xs">
            <h1><img alt="intertug" title="intertug" id="logointertug" src="/TrackingIntertug/imgs/logointertug.jpg"></h1>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flotas</a>
                </li>
                <li role="presentation"><a ng-href="#/info"><span class="glyphicon glyphicon-tag"></span> Flota Colombia</a></li>
                <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Perú</a></li>
                <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Mexico</a></li>
                <li role="presentation"><a href="#" id="show"><span class="glyphicon glyphicon-tag"></span> </a></li>
            </ul>
            <div ng-controller="PeticionController as petCtrl">
                {{ 'Prueba de peticion a servidor con $http.get ' + petCtrl.data['vehicle'][0].plate}}
            </div>
        </div>
        <div id="sidebarmini" class="visible-xs-inline-block col-xs-12"><!-- Logo + Menu Responsive para pantallas menores a 768px -->
            <h1 id="titulosidebarmini"><img alt="intertug" title="intertug" id="logointertug2" src="/TrackingIntertug/imgs/logointertug.jpg"></h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flotas</a>
                </li>
                <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Colombia</a></li>
                <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Perú</a></li>
                <li role="presentation"><a href="#"><span class="glyphicon glyphicon-tag"></span> Flota Mexico</a></li>
            </ul>
        </div><!-- Logo + Menu Responsive para pantallas menores a 768px -->
        <div id="map-container" ng-controller="HomeController" class="col-xs-12 col-sm-10">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" doCluster="true" clusterOptions="ClusterMarkersOptions">
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
</div>