<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
	    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	    <link rel="stylesheet" href="../css/style.css"></style>
	    <script type="text/javascript" id="scriptsjs" src="../js/scripts.js"></script>
	    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEuaoh_rW9edjj3Ona1XpY2yOk090mJ5o&sensor=true">
	    </script>
	    <script type="text/javascript" id="mapsjs" src="../js/maps.js"></script>
	    <script type="text/javascript" id="requestjs" src="../js/request.js"></script>
	</head>
	<body id="body" onload="scripts()">
		<div id="container" class="container-fluid">
			<div id="rowmap" class="row">
				<div id="titlecon" class="col-sm-3">
					<h1><img src="../imgs/logointertug.jpg"></h1>
				</div>
				<div id="map-container" class="col-sm-9">
					<div id="map_canvas">
						<!-- Aqui se inserta el Mapa de Google, proveniente de ../js/maps.js -->
					</div>
				</div>
			</div>
			<div id="request">
				<div id="showrequest">
					<!-- Aqui se inserta lo que regresa del request -->
				</div>
			</div>
		</div>
		<!--	JavaScripts		-->
		<script src="../js/jquery.min.js"></script>
   		<script src="../bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>