<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
        <title>Intertug Tracking</title>
        <link rel="shortcut icon" href="../favicon.ico" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/test-compiled.css">
</head>
<body>
	<!-- Navbar -->
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="sr-only">Toogle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="master-navbar-brand" class="navbar-brand" href="inicio.html">
                    <img id="navbar-logo" class="navbar-logo" alt="Intertug" src="../imgs/logointertug.jpg">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar__collapsible" id="navbar-menu">
                <ul class="nav navbar-nav navbar__left">
                    <li class="dropdown navbar__left__dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Flotas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="ccom.html">Flota Colombia</a></li>
                            <li role="presentation"><a href="ccom.html">Flota Perú</a></li>
                            <li role="presentation"><a href="ccom.html">Flota México</a></li>

                        </ul>
                    </li>
                    <li role="presentation" class="navbar__left__li"><a href="alerts.html">Alertas</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar__right">
                    <li class="dropdown navbar__right__dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Enlaces <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">BI</a></li>
                            <li role="presentation"><a href="#">Iris</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a href="#">Ayuda</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Fin Navbar -->
    <section class="sidebar">
    	<h2>Prueba</h2>
    </section>
    <section class="main">
    	<div class="map-canvas">
    		
    	</div>
    </section>
	<script src="../js/shared/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>