<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
        <title>Intertug Tracking</title>
        <link rel="shortcut icon" href="../favicon.ico" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/master.css">
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBEuaoh_rW9edjj3Ona1XpY2yOk090mJ5o&amp;sensor=true">
        </script>
        <script src="../js/shared/markerclusterer.js"></script>
        <script src="../js/shared/handlebars.js"></script>
    </head>
    <body onload="initialize()">
        <!-- Navbar -->
        <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toogle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="master-navbar-brand" class="navbar-brand" href="inicio.html">
                        <img id="navbar-logo" alt="Intertug" src="../imgs/logointertug.jpg">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Flotas <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="ccom.html">Flota Colombia</a></li>
                                <li role="presentation"><a href="ccom.html">Flota Perú</a></li>
                                <li role="presentation"><a href="ccom.html">Flota México</a></li>

                            </ul>
                        </li>
                        <li role="presentation"><a href="alerts.html">Alertas</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Enlaces <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation"><a href="#">BI</a></li>
                                <li role="presentation"><a href="#">Iris</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a href="#">Ayuda</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- Fin Navbar -->
        <!-- Main Content -->
        <div id="master-main-content" class="container-fluid">
            <div id="master-row-content" class="row">
                <!-- Sidebar -->
                <div id="master-sidebar" class="col-sm-3 affix">
                    <br>
                    <div class="alert alert-info alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Info tip!</strong> Utiliza el formulario de abajo para cambiar de remolcador y/o fechas.
                    </div>
                	<div class="row">
                		<h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>aosho</h2>
                		<p>asjoaj</p>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                        
                        </div>
                    </div>
                </div> 
                <!-- Fin Sidebar -->
                <!-- Primary content -->
                <div id="master-col-content" class="col-sm-9 col-sm-offset-3">
                    <div class="col-sm-11 col-sm-offset-1">
	                    <h2>Reports</h2>
	                    <p>Reportes de remolcador</p>
	                    <h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>aosho</h2>
                		<p>asjoaj</p>
                		<h2>1213123</h2>
                		<h2>1213123</h2>
                	</div>
                </div>
                <!-- Fin Primary Content -->
            </div>
        </div>
        <!-- Fin Main Content -->
        <!--	JavaScripts   -->
        <script src="../js/shared/jquery.min.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
        <!-- Fin JavaScripts -->
    </body>
</html>
