<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
    <title>Intertug Tracking</title>
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/reports.css">
</head>
<body onload="initialize()">
    <!-- Navbar -->
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="sr-only">Toogle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="master-navbar-brand" class="navbar-brand" href="inicio.html">
                    <img id="navbar-logo" class="navbar-logo" alt="Intertug" src="../imgs/logointertug.jpg">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar__collapsible" id="navbar-menu">
                <ul id="navbar__left" class="nav navbar-nav navbar__left">
                    <script id="navbar-menu-left" type="text/x-handlebars-template">
                    {{#linksmenu}}
                    {{#if links}}
                    <li class="dropdown navbar__left__dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {{label}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    {{#links}}
                    <li role="presentation"><a href="{{value}}">{{label}}</a></li>
                    {{/links}}
                    </ul>
                    </li>
                    {{/if}}
                    {{#unless links}}
                    <li role="presentation"><a href="alerts.html">Alertas</a></li>
                    {{/unless}}
                    {{/linksmenu}}
                    </script>
                    </li>
                    <li role="presentation" class="navbar__left__li"><a href="alerts.html">Alertas</a></li>
                </ul>
                <ul id="navbar__right" class="nav navbar-nav navbar-right navbar__right">
                    <script id="navbar-menu-right" type="text/x-handlebars-template">
                    {{#linksmenu}}
                    {{#if links}}
                    <li class="dropdown navbar__right__dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    {{label}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                    {{#links}}
                    <li role="presentation"><a href="{{value}}">{{label}}</a></li>
                    {{/links}}
                    </ul>
                    </li>
                    {{/if}}
                    {{#unless links}}
                    <li role="presentation"><a href="alerts.html">Alertas</a></li>
                    {{/unless}}
                    {{/linksmenu}}
                    </script>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Fin Navbar -->
    <!-- Sidebar -->
    <section class="sidebar">
        <div class="sidebar__card">
            <h2 class="sidebar__card__title">Reporte de Consumo</h2>
        </div>
        <div id="infotip-html">
        <script id="infotip" type="text/x-handlebars-template">
        <div class="alert alert-info alert-dismissable sidebar__infotip" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{#infotip}}
            <strong> {{label}}</strong> {{value}}
            {{/infotip}}        
        </div>
        </script>
        </div>
        <form class="form sidebar__form" onsubmit="return controller.validReportRequest()">
            <div class="form__group">
                <label for="dateone" class="control-label form__label">Fecha inicio: </label>
                <input type="text" id="dateone" name="dateone" class="form-control form__date form__input">
            </div>
            <div class="form__group">
                <label for="datetwo" class="control-label form__label">Fecha final: </label>
                <input type="text" id="datetwo" name="datetwo" class="form-control form__date form__input">
            </div>
            <select name="rm" id="rm" class="form-control form__rmselect form__input">
                <option value="0" disabled>-- Escoge un remolcador --</option>
                <option value="1" selected>RM Boreas</option>
                <option value="2">Baru Pacifico</option>
            </select>
            <input type="submit" class="form-control btn-success form__submit" value="Generar">
        </form>
    </section>
    <!-- Fin Sidebar -->
    <!-- Main -->
    <section id="main" class="main">
        <div class="main__tabpanel" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs main__tabpanel__list" role="tablist">
            <li role="presentation" class="active">
                <a href="#line_chart" aria-controls="home" role="tab" data-toggle="tab">Gráfica</a>
            </li>
            <li role="presentation">
                <a href="#table-tab" aria-controls="profile" role="tab" data-toggle="tab">Tabla</a>
            </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content main__tabpanel__content">
                <div role="tabpanel" class="tab-pane active tabpanel__content_pane content__pane__chart" id="line_chart">
                    <div class="alert alert-info alert-dismissable sidebar__infotip" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Cargando!</strong> Estamos cargando el reporte.     
                    </div>
                </div>
                <div id="table-tab" role="tabpanel" class="tab-pane tabpanel__content__pane">
                    <div class="content__pane__export">
                        <button id="exportTable" class="btn btn-success content__pane__export__btn">
                        Excel
                        </button>
                    </div>
                    <div id="table_chart" class="content__pane__table-container">
                        <script id="table-info" type="text/x-handlebars-template">
                        <table id="pane__table" class="table table-bordered table-responsive pane__table">
                            {{#labels}}
                            <tr>
                                <th rowspan="2">{{dayLabel}}</th>
                                <th colspan="2">{{PBLabel}}</th>
                                <th colspan="2">{{PELabel}}</th>

                                <th colspan="2">{{GBLabel}}</th>
                                <th colspan="2">{{GELabel}}</th>
                                <th rowspan="2">{{totalLabel}}</th>
                            </tr>
                            <tr>
                                <td>{{consumption}}</td>
                                <td>{{hoursLabel}}</td>
                                <td>{{consumption}}</td>
                                <td>{{hoursLabel}}</td>
                                
                                <td>{{consumption}}</td>
                                <td>{{hoursLabel}}</td>
                                <td>{{consumption}}</td>
                                <td>{{hoursLabel}}</td>
                            </tr>
                            {{/labels}}
                            {{#report}}
                            <tr>
                                <td>{{day}}</td>
                                <td>{{CMPB}}</td>
                                <td>{{HMPB}}</td>
                                <td>{{CMPE}}</td>
                                <td>{{HMPE}}</td>
                                
                                <td>{{CMGB}}</td>
                                <td>{{HMGB}}</td>
                                <td>{{CMGE}}</td>
                                <td>{{HMGE}}</td>
                                <th>{{total}}</th>
                            </tr>
                            {{/report}}
                        </table>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin main -->
    <!-- Scripts -->
    <script src="../js/shared/handlebars.js"></script>
    <script src="../js/controllers/reportscontroller.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script>
            google.load('visualization', '1.0', {'packages':['corechart', 'line']});
            google.setOnLoadCallback(controller.reportData);
        </script>
    <script src="../js/shared/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/shared/excelexport.js"></script>
    <!-- Fin Scripts -->
</body>
</html>